In [1]:
import pandas as pd
import numpy as np
from io import StringIO

In [2]:
#import warnings
#warnings.filterwarnings(action='ignore')
#warnings.filterwarnings(action='default')

In [3]:
대여반납이력=pd.read_csv("./공공자전거 대여이력 정보_2021.06 (1).csv", encoding='cp949') ; 대여반납이력

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (4,6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,자전거번호,대여일시,대여 대여소번호,대여 대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
0,SPB-30385,2021-05-31 23:07:00,3571,화양 APT(횡단보도 옆),0,2021-06-01 00:00:00,3538,서울숲 IT캐슬,0,53.0,2502.80
1,SPB-46321,2021-05-31 23:37:19,1911,구로디지털단지역 앞,0,2021-06-01 00:00:02,1843,독산고등학교,0,22.0,1630.00
2,SPB-48119,2021-05-31 23:48:40,3860,건국대학교 정문 앞,0,2021-06-01 00:00:03,3586,군자역 비채온 오피스텔,0,11.0,1420.00
3,SPB-55360,2021-05-31 23:47:52,2222,사당역 12번출구 뒤,0,2021-06-01 00:00:05,2228,뒷벌공원 옆,0,12.0,1350.00
4,SPB-54699,2021-05-31 23:51:14,1955,디지털입구 교차로,0,2021-06-01 00:00:08,1856,모두의학교,0,8.0,930.00
...,...,...,...,...,...,...,...,...,...,...,...
3445939,SPB-36886,2021-06-30 22:44:14,152,마포구민체육센터 앞,0,2021-07-01 04:48:33,126,서강대 후문 옆,0,364.0,10153.36
3445940,SPB-30409,2021-06-30 22:45:19,152,마포구민체육센터 앞,0,2021-07-01 04:52:25,437,대흥역 1번출구,0,367.0,10100.71
3445941,SPB-46230,2021-06-30 22:43:43,152,마포구민체육센터 앞,0,2021-07-01 04:52:27,437,대흥역 1번출구,0,368.0,430.00
3445942,SPB-41691,2021-06-30 22:11:14,2220,반포본동 주민센터 앞,0,2021-07-01 04:55:29,2526,반포경남쇼핑 앞,0,404.0,0.00
3445943,SPB-52274,2021-06-30 22:12:10,2220,반포본동 주민센터 앞,0,2021-07-01 04:55:30,2526,반포경남쇼핑 앞,0,403.0,4541.22

## 반납이력 df 만들기(필요한 행만 추출)

In [4]:
반납이력=대여반납이력.drop(['대여일시','대여 대여소명','대여 대여소번호','대여거치대','반납대여소명','이용시간','이용거리','반납거치대'],1)
반납이력

             자전거번호                 반납일시 반납대여소번호
0        SPB-30385  2021-06-01 00:00:00    3538
1        SPB-46321  2021-06-01 00:00:02    1843
2        SPB-48119  2021-06-01 00:00:03    3586
3        SPB-55360  2021-06-01 00:00:05    2228
4        SPB-54699  2021-06-01 00:00:08    1856
...            ...                  ...     ...
3445939  SPB-36886  2021-07-01 04:48:33     126
3445940  SPB-30409  2021-07-01 04:52:25     437
3445941  SPB-46230  2021-07-01 04:52:27     437
3445942  SPB-41691  2021-07-01 04:55:29    2526
3445943  SPB-52274  2021-07-01 04:55:30    2526

[3445944 rows x 3 columns]

## 반납대여소번호에 숫자 아닌 행 제거 (행 수 : 344,5944 ->344,5908)

In [5]:
반납이력['반납대여소번호'] = 반납이력['반납대여소번호'].astype(str) ; 반납이력.dtypes

자전거번호      object
반납일시       object
반납대여소번호    object
dtype: object

In [6]:
반납이력 = 반납이력[반납이력.반납대여소번호.apply(lambda x: x.isnumeric())] ; 반납이력

             자전거번호                 반납일시 반납대여소번호
0        SPB-30385  2021-06-01 00:00:00    3538
1        SPB-46321  2021-06-01 00:00:02    1843
2        SPB-48119  2021-06-01 00:00:03    3586
3        SPB-55360  2021-06-01 00:00:05    2228
4        SPB-54699  2021-06-01 00:00:08    1856
...            ...                  ...     ...
3445939  SPB-36886  2021-07-01 04:48:33     126
3445940  SPB-30409  2021-07-01 04:52:25     437
3445941  SPB-46230  2021-07-01 04:52:27     437
3445942  SPB-41691  2021-07-01 04:55:29    2526
3445943  SPB-52274  2021-07-01 04:55:30    2526

[3445908 rows x 3 columns]

In [7]:
반납이력['반납대여소번호'] = 반납이력['반납대여소번호'].astype('int')

<ipython-input-7-3cd207bd6c5e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  반납이력['반납대여소번호'] = 반납이력['반납대여소번호'].astype('int')

## 반납대여소 자치구 붙이기  (행 수 : 344,5944-> 344,5908->344,3879)

In [9]:
구별대여소번호=pd.read_csv("./station_구별.csv", encoding='cp949')

In [10]:
반납이력=반납이력.rename(columns={'반납대여소번호':'대여소번호'})
반납이력_자치구=반납이력.merge(구별대여소번호,on=['대여소번호'],how='inner')
반납이력_자치구

             자전거번호                반납일시  대여소번호  Unnamed: 0 소재지.위치.
0        SPB-30385 2021-06-01 00:00:00   3538        2022     성동구
1        SPB-33325 2021-06-01 08:38:58   3538        2022     성동구
2        SPB-42097 2021-06-01 08:40:35   3538        2022     성동구
3        SPB-30270 2021-06-01 08:41:30   3538        2022     성동구
4        SPB-52539 2021-06-01 08:49:21   3538        2022     성동구
...            ...                 ...    ...         ...     ...
3443874  SPB-47184 2021-06-30 22:40:48   3811        2164     관악구
3443875  SPB-30962 2021-06-30 22:44:29   3811        2164     관악구
3443876  SPB-34154 2021-06-30 22:47:20   3811        2164     관악구
3443877  SPB-46380 2021-06-30 22:47:24   3811        2164     관악구
3443878  SPB-45507 2021-07-01 00:02:32   3811        2164     관악구

[3443879 rows x 5 columns]

In [14]:
반납이력_자치구 = 반납이력_자치구.sort_values('반납일시')
반납이력_자치구

### 여기에 왜 unnamed가 붙는지 모르겠음 ㅠ

# ######여기까지가 정리####### #

## 반납일시 datetime으로 바꾼 거!

In [17]:
반납이력['반납일시']= pd.to_datetime(반납이력['반납일시'])
#반납이력['반납시간대'] = 반납이력['반납일시'].dt.hour

In [ ]:
#반납이력_자치구['반납일시'].iloc[1174000].weekday() ; 반납이력_자치구['반납일시'].iloc[0].hour

In [42]:
반납이력_자치구['반납일시 시간대'] = '' ; 반납이력_자치구

             자전거번호                반납일시  대여소번호  Unnamed: 0 소재지.위치. 반납일시 시간대
0        SPB-30385 2021-06-01 00:00:00   3538        2022     성동구
494      SPB-46321 2021-06-01 00:00:02   1843        1316     금천구
902      SPB-48119 2021-06-01 00:00:03   3586        2055     광진구
2872     SPB-55360 2021-06-01 00:00:05   2228        1545     서초구
4999     SPB-54699 2021-06-01 00:00:08   1856        1328     금천구
...            ...                 ...    ...         ...     ...      ...
2125612  SPB-36886 2021-07-01 04:48:33    126          28     마포구
2334873  SPB-30409 2021-07-01 04:52:25    437         298     마포구
2334874  SPB-46230 2021-07-01 04:52:27    437         298     마포구
2186140  SPB-41691 2021-07-01 04:55:29   2526        1740     서초구
2186141  SPB-52274 2021-07-01 04:55:30   2526        1740     서초구

[3443879 rows x 6 columns]

In [ ]:
for i in range(len(반납이력_자치구)) :
    if 반납이력_자치구['반납일시'].iloc[i].hour >= 4 & 반납이력_자치구['반납일시'].iloc[i].hour < 10:
        반납이력_자치구['반납일시 시간대'] = 2
    elif 반납이력_자치구['반납일시'].iloc[i].hour >= 10 & 반납이력_자치구['반납일시'].iloc[i].hour < 16 :
        반납이력_자치구['반납일시 시간대'] = 3
    elif 반납이력_자치구['반납일시'].iloc[i].hour >= 16 & 반납이력_자치구['반납일시'].iloc[i].hour < 22 :
        반납이력_자치구['반납일시 시간대'] = 4
    else : 
        반납이력_자치구['반납일시 시간대'] = 1

# 위에 거 아직도 돌아가는 중...

In [41]:
if 반납이력_자치구['반납일시'].iloc[0].hour >= 4 & 반납이력_자치구['반납일시'].iloc[0].hour < 10:
    반납이력_자치구['반납일시 시간대'] = 2
    elif 반납이력_자치구['반납일시'].iloc[0].hour >= 10 & 반납이력_자치구['반납일시'].iloc[0].hour < 16 :
        반납이력_자치구['반납일시 시간대'] = 3
    elif반납이력_자치구['반납일시'].iloc[0].hour >= 16 & 반납이력_자치구['반납일시'].iloc[0].hour < 22 :
        반납이력_자치구['반납일시 시간대'] = 4
    else : 
        반납이력_자치구['반납일시 시간대'] = 1

SyntaxError: invalid syntax (<ipython-input-41-f8ba9188ef69>, line 5)

In [23]:
if 반납이력_자치구['반납일시'].iloc[0].weekday() >= 0 & 반납이력_자치구['반납일시'].iloc[0].weekday() <= 4 :
    if 반납이력_자치구['반납일시'].iloc[0].hour() >= 4 & 반납이력_자치구['반납일시'].iloc[0].hour() < 10:
        반납이력_자치구['반납일시 시간대'] = '평일 오전'

TypeError: 'int' object is not callable

In [ ]:
# 시간 나누기

In [22]:
# 평일 0~4
반납이력_자치구['반납일시 시간대'] = ''

if 반납이력_자치구['반납일시'].iloc[0].weekday() >= 0 & 반납이력_자치구['반납일시'].iloc[0].weekday() <= 4 :
    if 반납이력_자치구['반납일시'].iloc[0].hour >= 4 & 반납이력_자치구['반납일시'].iloc[0].hour < 10:
        반납이력_자치구['반납일시 시간대'] = '평일 오전'
    elif 반납이력_자치구['반납일시'].iloc[0].hour >= 10 & 반납이력_자치구['반납일시'].iloc[0].hour < 16 :
        반납이력_자치구['반납일시 시간대'] = '평일 오후'
    elif반납이력_자치구['반납일시'].iloc[0].hour >= 16 & 반납이력_자치구['반납일시'].iloc[0].hour < 22 :
        반납이력_자치구['반납일시 시간대'] = '평일 저녁'
    else : 
        반납이력_자치구['반납일시 시간대'] = '평일 새벽'
        
# 주말 5,6
if 반납이력_자치구['반납일시'].iloc[0].weekday() = 5 & 반납이력_자치구['반납일시'].iloc[0].weekday() = 6 :
    if 반납이력_자치구['반납일시'].iloc[0].hour() >= 4 & 반납이력_자치구['반납일시'].iloc[0].hour() < 10:
        반납이력_자치구['반납일시 시간대'] = '주말 오전'
    elif 반납이력_자치구['반납일시'].iloc[0].hour() >= 10 & 반납이력_자치구['반납일시'].iloc[0].hour() < 16 :
        반납이력_자치구['반납일시 시간대'] = '주말 오후'
    elif반납이력_자치구['반납일시'].iloc[0].hour() >= 16 & 반납이력_자치구['반납일시'].iloc[0].hour() < 22 :
        반납이력_자치구['반납일시 시간대'] = '주말 저녁'
    else : 
        반납이력_자치구['반납일시 시간대'] = '주말 새벽'

SyntaxError: invalid syntax (<ipython-input-22-e817e6dccd9e>, line 9)

In [13]:
for i in range(len(반납이력)) :
    if 반납이력_자치구['반납일시'].iloc(i) == 0 :
        if 반납이력_자치구['반납일시'].iloc(i) >

SyntaxError: invalid syntax (<ipython-input-13-cf88a59f864a>, line 3)

In [ ]:
## 대여시간대 아침/오후/저녁 으로 넣기 ##
for i in range(len(반납이력)):
    if (반납이력['반납시간대'].iloc[i]>ㅇ & 반납이력['반납시간대'].iloc[i]<ㅇ)|(반납이력['반납시간대'].iloc[i]>ㅇ & 반납이력['반납시간대'].iloc[i]<ㅇ):
        반납이력['반납시간대'].iloc[i]='아침'
    elif (반납이력['반납시간대'].iloc[i]>ㅇ) & (반납이력['반납시간대'].iloc[i]<ㅇ):
        반납이력['반납시간대'].iloc[i]='오후'
    else:
        반납이력['반납시간대'].iloc[i]='저녁'

In [ ]:
## 대여소번호 이상값 처리 ##
not_over=반납이력['반납대여소번호']<= 4870
반납이력_narm=반납이력[not_over]

In [ ]:
반납이력_narm

In [ ]:
구별대여소번호=pd.read_csv("./station_구별.csv", encoding='cp949')

In [ ]:
## 오래걸리는거 ##

반납이력_narm=반납이력_narm.rename(columns={'반납대여소번호':'대여소번호'})
반납이력_자치구=반납이력_narm.merge(구별대여소번호,on=['대여소번호'],how='inner')
반납이력_자치구

In [ ]:
반납이력_자치구

In [ ]:
반납이력['반납대여소번호']==구별대여소번호['대여소번호']

In [ ]:
list_반납자치구_df = pd.DataFrame(list_a, columns=['반납 자치구'])
list_반납자치구_df['id']=list_반납자치구_df.index

In [ ]:
반납이력_narm_copy=반납이력_narm
반납이력_narm_copy['id']=반납이력_narm_copy.index

In [ ]:
merge=pd.merge(반납이력_narm_copy,list_반납자치구_df,how='left')
merge

In [ ]:
merge=merge.dropna()
merge_nm = merge[merge['반납 자치구'] == 0].index
merge_n = merge.drop(merge_nm)
merge_n