In [1]:
import pandas as pd
import numpy as np

In [630]:
대여반납이력=pd.read_csv("./대여이력 데이터/공공자전거 대여이력 정보_2021.06.csv", encoding='cp949')

In [631]:
대여반납이력.columns=["자전거번호", "대여일시", "대여 대여소번호", "대여 대여소명", "대여거치대", "반납일시", "반납대여소번호", '반납대여소명', '반납거치대', '이용시간', "이용거리"]

## 반납이력 df 만들기(필요한 행만 추출)

In [632]:
반납이력=대여반납이력.drop(['대여일시','대여 대여소명','대여 대여소번호','대여거치대','반납대여소명','이용시간','이용거리','반납거치대'],1)

## 반납대여소번호에 숫자 아닌 행 제거 (행 수 : 344,5944 ->344,5908)

In [633]:
반납이력['반납대여소번호'] = 반납이력['반납대여소번호'].astype(str)

In [634]:
반납이력 = 반납이력[반납이력.반납대여소번호.apply(lambda x: x.isnumeric())]

In [635]:
반납이력['반납대여소번호'] = 반납이력['반납대여소번호'].astype('int')

## 반납대여소 자치구 붙이기  (행 수 : 344,5944-> 344,5908->344,3879)

In [636]:
#구별대여소번호=pd.read_csv("./station_구별.csv", encoding='cp949')

In [637]:
반납이력=반납이력.rename(columns={'반납대여소번호':'대여소번호'})
반납이력_자치구=반납이력.merge(구별대여소번호,on=['대여소번호'],how='inner')
반납이력_자치구=반납이력_자치구.rename(columns={'소재지.위치.':'자치구'})
반납이력_자치구=반납이력_자치구.drop(['Unnamed: 0'],1)
반납이력_자치구 = 반납이력_자치구.sort_values('반납일시')

## 반납일시 datetime으로 바꾼 거!

In [638]:
반납이력_자치구['반납일시']= pd.to_datetime(반납이력_자치구['반납일시'])

In [639]:
반납이력_자치구['반납일시_day']=반납이력_자치구['반납일시'].dt.date

In [640]:
grouped = 반납이력_자치구.groupby(['자치구','반납일시_day'])
grouped_df=pd.DataFrame(grouped.count())

In [641]:
grouped_df=grouped_df.drop(['반납일시','대여소번호'],1)
grouped_df=grouped_df.rename(columns={'자전거번호':'반납수'})

In [642]:
grouped_df.to_csv('./반납대수 전처리데이터/반납대수_2019_5.csv', sep=',',encoding='cp949')

In [643]:
grouped_df

                 반납수
자치구 반납일시_day
강남구 2019-05-01  3018
    2019-05-02  3192
    2019-05-03  3200
    2019-05-04  2761
    2019-05-05  2792
...              ...
중랑구 2019-05-28  2224
    2019-05-29  2257
    2019-05-30  1999
    2019-05-31  2275
    2019-06-01    41

[800 rows x 1 columns]