In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel('./tsp_(중구, 23, 6-10).xlsx', sheet_name='k=3')
df

  cluster  number                                          tsp route  distance
0       A       8                          1, 2, 3, 7, 5, 8, 4, 6, 1  4.497520
1       B      13       1, 5, 2, 4, 3, 10, 8, 11, 12, 6, 7, 13, 9, 1  4.065258
2       C      15  1, 8, 5, 12, 14, 15, 11, 13, 3, 7, 6, 9, 4, 2,...  6.067822

In [3]:
#n : cluster 내 대여소 갯수
for i in range(len(df)):
    n=df.iloc[i, 1]
    d=df.iloc[i, 3]
    if n>=10:
        비용1=(d/6.8)*1332.74 + 23013.75*4 + 51450000/(16.8*365*2)
        df.loc[i,'truck type']='2.5t'
        df.loc[i, 'cost']=비용1
    else: 
        비용2=(d/8.5)*1332.74 + 23013.75*4 + 18375000/(16.8*365*2)
        df.loc[i,'truck type']='1.0t'
        df.loc[i, 'cost']=비용2
df

,cluster,number,tsp route,distance,truck type,cost
0,A,8,"1, 2, 3, 7, 5, 8, 4, 6, 1",4.497520,1.0t,94258.467027
1,B,13,"1, 5, 2, 4, 3, 10, 8, 11, 12, 6, 7, 13, 9, 1",4.065258,2.5t,97046.960226
2,C,15,"1, 8, 5, 12, 14, 15, 11, 13, 3, 7, 6, 9, 4, 2,...",6.067822,2.5t,97439.444961

In [4]:
#total distance
a=0
for i in range(len(df)):
    a+=df.loc[i, 'distance']
a

14.63059957018094

In [5]:
#total cost
b=0
for i in range(len(df)):
    b+=df.loc[i, 'cost']
b

288744.8722134343