In [1]:
import numpy as np
import pandas as pd

In [2]:
kmeans = pd.read_csv("./k_means(중구, 23, 17-21, k=5)_n.csv")
diff = pd.read_csv("./중구대여반납_거치대23_group_17_21.csv")

df = pd.merge(kmeans, diff, how='left', left_on=kmeans.index, right_on=diff.index)
df

,key_0,위도_x,경도_x,cluster,대여소번호,대여수,반납수,거치대수,(반납-대여)/거치대수,위도_y,경도_y,group
0,15,37.560474,127.014076,B,374,21,23,12,0.166667,37.560474,127.014076,많음
1,19,37.565849,127.016403,C,383,36,37,19,0.052632,37.565849,127.016403,많음
2,20,37.559780,126.968506,E,384,4,5,12,0.083333,37.559780,126.968506,많음
3,25,37.554108,126.965408,E,399,8,9,17,0.058824,37.554108,126.965408,많음
4,31,37.556862,126.975617,D,435,4,5,12,0.083333,37.556862,126.975617,많음
5,32,37.559891,126.971497,D,441,6,7,15,0.066667,37.559891,126.971497,많음
6,33,37.556416,126.969193,E,442,3,6,20,0.150000,37.556416,126.969193,많음
7,44,37.567650,127.011810,C,475,10,12,16,0.125000,37.567650,127.011810,많음
8,48,37.554321,127.010704,B,480,6,7,8,0.125000,37.554321,127.010704,많음
9,49,37.567032,127.015793,C,481,13,16,16,0.187500,37.567032,127.015793,많음
10,51,37.547585,127.006439,A,483,1,2,16,0.062500,37.547585,127.006439,많음
11,53,37.556770,126.973198,D,485,20,21,10,0.100000,37.556770,126.973198,많음
12,54,37.555367,126.968643,E,826,18,27,22,0.409091,37.555367,126.968643,많음
13,58,37.556644,126.973640,D,4760,1,3,10,0.200000,37.556644,126.973640,많음
14,62,37.560246,126.968780,E,4766,2,3,18,0.055556,37.560246,126.968780,많음
15,0,37.568050,126.969231,E,300,16,10,9,-0.666667,37.568050,126.969231,적음
16,1,37.568878,126.977470,D,310,35,16,8,-2.375000,37.568878,126.977470,적음
17,3,37.566223,126.983589,C,320,21,10,17,-0.647059,37.566223,126.983589,적음
18,4,37.565464,126.984139,C,321,24,8,17,-0.941176,37.565464,126.984139,적음
19,6,37.561340,126.980400,D,324,14,8,12,-0.500000,37.561340,126.980400,적음
20,12,37.563229,126.974838,D,370,42,19,24,-0.958333,37.563229,126.974838,적음
21,17,37.563866,127.002747,B,380,14,9,10,-0.500000,37.563866,127.002747,적음
22,18,37.555199,127.010048,A,382,13,9,9,-0.444444,37.555199,127.010048,적음
23,21,37.566994,127.003464,B,387,27,8,12,-1.583333,37.566994,127.003464,적음
24,24,37.566559,126.992439,C,398,36,24,10,-1.200000,37.566559,126.992439,적음
25,36,37.565842,126.979813,D,466,20,1,20,-0.950000,37.565842,126.979813,적음
26,38,37.559231,126.980141,D,469,11,2,16,-0.562500,37.559231,126.980141,적음
27,40,37.560360,126.982651,D,471,13,8,10,-0.500000,37.560360,126.982651,적음
28,55,37.567616,126.987244,C,3013,28,9,10,-1.900000,37.567616,126.987244,적음
29,56,37.558914,126.964859,E,4752,10,5,7,-0.714286,37.558914,126.964859,적음
30,63,37.567017,126.976837,D,4768,38,31,12,-0.583333,37.567017,126.976837,적음
31,71,37.566898,126.987740,C,4785,18,4,8,-1.750000,37.566898,126.987740,적음
32,75,37.566471,126.979256,D,4796,20,10,10,-1.000000,37.566471,126.979256,적음

#  데이터 불러와서 E 군집만 추출

In [3]:
df = df[df.cluster == 'E']
df = df.sort_values(by='(반납-대여)/거치대수', ascending=False)
df

,key_0,위도_x,경도_x,cluster,대여소번호,대여수,반납수,거치대수,(반납-대여)/거치대수,위도_y,경도_y,group
12,54,37.555367,126.968643,E,826,18,27,22,0.409091,37.555367,126.968643,많음
6,33,37.556416,126.969193,E,442,3,6,20,0.150000,37.556416,126.969193,많음
2,20,37.559780,126.968506,E,384,4,5,12,0.083333,37.559780,126.968506,많음
3,25,37.554108,126.965408,E,399,8,9,17,0.058824,37.554108,126.965408,많음
14,62,37.560246,126.968780,E,4766,2,3,18,0.055556,37.560246,126.968780,많음
15,0,37.568050,126.969231,E,300,16,10,9,-0.666667,37.568050,126.969231,적음
29,56,37.558914,126.964859,E,4752,10,5,7,-0.714286,37.558914,126.964859,적음

In [4]:
df = df.reset_index()
df['node_num'] = range(1,8)
df

,index,key_0,위도_x,경도_x,cluster,대여소번호,대여수,반납수,거치대수,(반납-대여)/거치대수,위도_y,경도_y,group,node_num
0,12,54,37.555367,126.968643,E,826,18,27,22,0.409091,37.555367,126.968643,많음,1
1,6,33,37.556416,126.969193,E,442,3,6,20,0.150000,37.556416,126.969193,많음,2
2,2,20,37.559780,126.968506,E,384,4,5,12,0.083333,37.559780,126.968506,많음,3
3,3,25,37.554108,126.965408,E,399,8,9,17,0.058824,37.554108,126.965408,많음,4
4,14,62,37.560246,126.968780,E,4766,2,3,18,0.055556,37.560246,126.968780,많음,5
5,15,0,37.568050,126.969231,E,300,16,10,9,-0.666667,37.568050,126.969231,적음,6
6,29,56,37.558914,126.964859,E,4752,10,5,7,-0.714286,37.558914,126.964859,적음,7

# 대여소간 거리 계산해서 가중치 행렬 만들기

In [5]:
from haversine import haversine

dist = np.zeros((7,7))
for i in range(7):
    for j in range(i+1,7):
        distance = haversine((df.위도_x[i],df.경도_x[i]), (df.위도_x[j],df.경도_x[j]), unit='km')
        dist[i][j] = distance
        dist[j][i] = distance
df_dist = pd.DataFrame(dist)
df_dist

          0         1         2         3         4         5         6
0  0.000000  0.126299  0.490920  0.317667  0.542655  1.411333  0.516613
1  0.126299  0.000000  0.378986  0.420874  0.427417  1.293739  0.472346
2  0.490920  0.378986  0.000000  0.687315  0.057130  0.921829  0.335574
3  0.317667  0.420874  0.687315  0.000000  0.744423  1.586549  0.536649
4  0.542655  0.427417  0.057130  0.744423  0.000000  0.868770  0.376033
5  1.411333  1.293739  0.921829  1.586549  0.868770  0.000000  1.086523
6  0.516613  0.472346  0.335574  0.536649  0.376033  1.086523  0.000000

# tsp

In [6]:
import copy

In [7]:
data = [1,2,3,4,5,6,7]
n = len(data)
all_sets = []
g = {}
p = []
node = [1]

In [8]:
def main():
    for x in range(1, n):
        g[x + 1, ()] = dist[x][0]

    get_minimum(1, (2,3,4,5,6,7))

    print('\n\nSolution to TSP: {1, ', end='')
    solution = p.pop()
    print(solution[1][0], end=', ')
    node.append(solution[1][0])
    for x in range(n - 2):
        for new_solution in p:
            if tuple(solution[1]) == new_solution[0]:
                solution = new_solution
                print(solution[1][0], end=', ')
                node.append(solution[1][0])
                break
    print('1}')
    return

In [9]:
def get_minimum(k, a):
    if (k, a) in g:
        # Already calculated Set g[%d, (%s)]=%d' % (k, str(a), g[k, a]))
        return g[k, a]

    values = []
    all_min = []
    for j in a:
        set_a = copy.deepcopy(list(a))
        set_a.remove(j)
        all_min.append([j, tuple(set_a)])
        result = get_minimum(j, tuple(set_a))
        values.append(dist[k-1][j-1] + result)

    # get minimun value from set as optimal solution for
    g[k, a] = min(values)
    p.append(((k, a), all_min[values.index(g[k, a])]))

    return g[k, a]

In [10]:
main()

Solution to TSP: {1, 2, 3, 5, 6, 7, 4, 1}

# 총거리 구하기

In [11]:
node.append(1)

dist_total = 0
for i in range(len(node)-1):
    dist_total += df_dist[node[i]-1][node[i+1]-1]
dist_total

3.3720245173318686

In [12]:
len(df)

7

In [13]:
node

[1, 2, 3, 5, 6, 7, 4, 1]