In [1]:
import numpy as np
import pandas as pd

In [2]:
kmeans = pd.read_csv("./k_means(중구, 24, 17-21, k=5)_n.csv")
diff = pd.read_csv("./중구대여반납_거치대24_group_17_21.csv")

df = pd.merge(kmeans, diff, how='left', left_on=kmeans.index, right_on=diff.index)
df

,key_0,위도_x,경도_x,cluster,대여소번호,대여수,반납수,거치대수,(반납-대여)/거치대수,위도_y,경도_y,group
0,5,37.564476,126.986969,D,322,10,14,17,0.235294,37.564476,126.986969,많음
1,9,37.562618,126.992836,C,336,3,8,12,0.416667,37.562618,126.992836,많음
2,14,37.554295,127.011200,B,372,7,9,12,0.166667,37.554295,127.011200,많음
3,15,37.560474,127.014076,B,374,7,9,12,0.166667,37.560474,127.014076,많음
4,16,37.556000,126.973358,E,379,14,21,9,0.777778,37.556000,126.973358,많음
5,19,37.565849,127.016403,A,383,22,25,19,0.157895,37.565849,127.016403,많음
6,20,37.559780,126.968506,E,384,1,3,12,0.166667,37.559780,126.968506,많음
7,23,37.561390,126.995354,C,390,11,13,12,0.166667,37.561390,126.995354,많음
8,25,37.554108,126.965408,E,399,1,7,17,0.352941,37.554108,126.965408,많음
9,27,37.562172,127.006264,B,430,3,7,10,0.400000,37.562172,127.006264,많음
10,28,37.570900,127.019524,A,431,37,41,15,0.266667,37.570900,127.019524,많음
11,33,37.556416,126.969193,E,442,6,10,20,0.200000,37.556416,126.969193,많음
12,41,37.560360,126.982651,D,471,5,8,10,0.300000,37.560360,126.982651,많음
13,51,37.556770,126.973198,E,485,9,11,10,0.200000,37.556770,126.973198,많음
14,52,37.555367,126.968643,E,826,24,29,22,0.227273,37.555367,126.968643,많음
15,56,37.556644,126.973640,E,4760,1,7,10,0.600000,37.556644,126.973640,많음
16,3,37.566223,126.983589,D,320,17,8,17,-0.529412,37.566223,126.983589,적음
17,4,37.565464,126.984139,D,321,23,10,17,-0.764706,37.565464,126.984139,적음
18,6,37.561340,126.980400,C,324,12,5,12,-0.583333,37.561340,126.980400,적음
19,18,37.555199,127.010048,B,382,10,8,9,-0.222222,37.555199,127.010048,적음
20,21,37.566994,127.003464,A,387,18,14,12,-0.333333,37.566994,127.003464,적음
21,29,37.566345,126.982292,D,433,19,12,12,-0.583333,37.566345,126.982292,적음
22,35,37.560154,126.974106,E,445,12,8,10,-0.400000,37.560154,126.974106,적음
23,36,37.565842,126.979813,D,466,12,4,20,-0.400000,37.565842,126.979813,적음
24,38,37.564159,126.979485,D,468,10,4,10,-0.600000,37.564159,126.979485,적음
25,40,37.559746,126.980003,C,470,7,1,20,-0.300000,37.559746,126.980003,적음
26,48,37.554321,127.010704,B,480,13,8,8,-0.625000,37.554321,127.010704,적음
27,60,37.567017,126.976837,D,4768,19,12,12,-0.583333,37.567017,126.976837,적음
28,61,37.562534,126.972496,E,4772,3,1,10,-0.200000,37.562534,126.972496,적음
29,62,37.565903,126.981781,D,4774,12,10,9,-0.222222,37.565903,126.981781,적음
30,63,37.565990,126.984276,D,4775,8,5,10,-0.300000,37.565990,126.984276,적음
31,64,37.560055,126.980942,C,4776,10,5,10,-0.500000,37.560055,126.980942,적음
32,70,37.562527,126.998314,A,4792,17,12,10,-0.500000,37.562527,126.998314,적음
33,71,37.564308,127.006477,A,4793,10,8,10,-0.200000,37.564308,127.006477,적음
34,72,37.566471,126.979256,D,4796,11,3,10,-0.800000,37.566471,126.979256,적음

#  데이터 불러와서 A 군집만 추출

In [3]:
df = df[df.cluster == 'A']
df = df.sort_values(by='(반납-대여)/거치대수', ascending=False)
df

,key_0,위도_x,경도_x,cluster,대여소번호,대여수,반납수,거치대수,(반납-대여)/거치대수,위도_y,경도_y,group
10,28,37.570900,127.019524,A,431,37,41,15,0.266667,37.570900,127.019524,많음
5,19,37.565849,127.016403,A,383,22,25,19,0.157895,37.565849,127.016403,많음
33,71,37.564308,127.006477,A,4793,10,8,10,-0.200000,37.564308,127.006477,적음
20,21,37.566994,127.003464,A,387,18,14,12,-0.333333,37.566994,127.003464,적음
32,70,37.562527,126.998314,A,4792,17,12,10,-0.500000,37.562527,126.998314,적음

In [4]:
df = df.reset_index()
df['node_num'] = range(1,6)
df

,index,key_0,위도_x,경도_x,cluster,대여소번호,대여수,반납수,거치대수,(반납-대여)/거치대수,위도_y,경도_y,group,node_num
0,10,28,37.570900,127.019524,A,431,37,41,15,0.266667,37.570900,127.019524,많음,1
1,5,19,37.565849,127.016403,A,383,22,25,19,0.157895,37.565849,127.016403,많음,2
2,33,71,37.564308,127.006477,A,4793,10,8,10,-0.200000,37.564308,127.006477,적음,3
3,20,21,37.566994,127.003464,A,387,18,14,12,-0.333333,37.566994,127.003464,적음,4
4,32,70,37.562527,126.998314,A,4792,17,12,10,-0.500000,37.562527,126.998314,적음,5

# 대여소간 거리 계산해서 가중치 행렬 만들기

In [5]:
from haversine import haversine

dist = np.zeros((5,5))
for i in range(5):
    for j in range(i+1,5):
        distance = haversine((df.위도_x[i],df.경도_x[i]), (df.위도_x[j],df.경도_x[j]), unit='km')
        dist[i][j] = distance
        dist[j][i] = distance
df_dist = pd.DataFrame(dist)
df_dist

          0         1         2         3         4
0  0.000000  0.625332  1.363604  1.480584  2.088414
1  0.625332  0.000000  0.891486  1.147536  1.636656
2  1.363604  0.891486  0.000000  0.399657  0.746316
3  1.480584  1.147536  0.399657  0.000000  0.672873
4  2.088414  1.636656  0.746316  0.672873  0.000000

# tsp

In [6]:
import copy

In [7]:
data = [1,2,3,4,5]
n = len(data)
all_sets = []
g = {}
p = []
node = [1]

In [8]:
def main():
    for x in range(1, n):
        g[x + 1, ()] = dist[x][0]

    get_minimum(1, (2,3,4,5))

    print('\n\nSolution to TSP: {1, ', end='')
    solution = p.pop()
    print(solution[1][0], end=', ')
    node.append(solution[1][0])
    for x in range(n - 2):
        for new_solution in p:
            if tuple(solution[1]) == new_solution[0]:
                solution = new_solution
                print(solution[1][0], end=', ')
                node.append(solution[1][0])
                break
    print('1}')
    return

In [9]:
def get_minimum(k, a):
    if (k, a) in g:
        # Already calculated Set g[%d, (%s)]=%d' % (k, str(a), g[k, a]))
        return g[k, a]

    values = []
    all_min = []
    for j in a:
        set_a = copy.deepcopy(list(a))
        set_a.remove(j)
        all_min.append([j, tuple(set_a)])
        result = get_minimum(j, tuple(set_a))
        values.append(dist[k-1][j-1] + result)

    # get minimun value from set as optimal solution for
    g[k, a] = min(values)
    p.append(((k, a), all_min[values.index(g[k, a])]))

    return g[k, a]

In [10]:
main()

Solution to TSP: {1, 4, 5, 3, 2, 1}

# 총거리 구하기

In [11]:
node.append(1)

dist_total = 0
for i in range(len(node)-1):
    dist_total += df_dist[node[i]-1][node[i+1]-1]
dist_total

4.4165920495221345

In [12]:
len(df)

5

In [13]:
node

[1, 4, 5, 3, 2, 1]