In [12]:
import numpy as np
import pandas as pd

In [13]:
kmeans = pd.read_csv("./k_means(중구, 24, 6-10, k=2)_n.csv")
diff = pd.read_csv("./중구대여반납_거치대24_group_6_10.csv")

df = pd.merge(kmeans, diff, how='left', left_on=kmeans.index, right_on=diff.index)
df

,key_0,위도_x,경도_x,cluster,대여소번호,대여수,반납수,거치대수,(반납-대여)/거치대수,위도_y,경도_y,group
0,0,37.568050,126.969231,A,300,8,19,9,1.222222,37.568050,126.969231,많음
1,1,37.568878,126.977470,A,310,2,13,8,1.375000,37.568878,126.977470,많음
2,6,37.565990,126.987793,A,332,1,12,5,2.200000,37.565990,126.987793,많음
3,8,37.569183,127.009880,B,346,4,20,12,1.333333,37.569183,127.009880,많음
4,10,37.563229,126.974838,A,370,3,41,24,1.583333,37.563229,126.974838,많음
5,14,37.563866,127.002747,B,380,3,13,10,1.000000,37.563866,127.002747,많음
6,19,37.561390,126.995354,B,390,3,17,12,1.166667,37.561390,126.995354,많음
7,26,37.560154,126.974106,A,445,4,13,10,0.900000,37.560154,126.974106,많음
8,37,37.567017,126.976837,A,4768,4,19,12,1.250000,37.567017,126.976837,많음
9,45,37.566471,126.979256,A,4796,3,11,10,0.800000,37.566471,126.979256,많음
10,9,37.565331,127.007843,A,347,1,6,20,0.250000,37.565331,127.007843,적음
11,11,37.554295,127.011200,A,372,4,5,12,0.083333,37.554295,127.011200,적음
12,12,37.560474,127.014076,A,374,7,10,12,0.250000,37.560474,127.014076,적음
13,16,37.565849,127.016403,A,383,5,10,19,0.263158,37.565849,127.016403,적음
14,20,37.566559,126.992439,B,398,4,6,10,0.200000,37.566559,126.992439,적음
15,21,37.554108,126.965408,B,399,4,1,17,-0.176471,37.554108,126.965408,적음
16,23,37.570900,127.019524,A,431,16,13,15,-0.200000,37.570900,127.019524,적음
17,24,37.566345,126.982292,B,433,6,9,12,0.250000,37.566345,126.982292,적음
18,25,37.559891,126.971497,B,441,2,6,15,0.266667,37.559891,126.971497,적음
19,28,37.564159,126.979485,B,468,3,5,10,0.200000,37.564159,126.979485,적음
20,30,37.566299,127.008492,A,474,1,7,30,0.200000,37.566299,127.008492,적음
21,31,37.567650,127.011810,A,475,3,6,16,0.187500,37.567650,127.011810,적음
22,32,37.564430,127.009956,A,476,1,2,10,0.100000,37.564430,127.009956,적음
23,33,37.559376,127.006027,A,479,3,2,13,-0.076923,37.559376,127.006027,적음
24,34,37.556770,126.973198,B,485,3,3,10,0.000000,37.556770,126.973198,적음
25,35,37.555367,126.968643,B,826,5,5,22,0.000000,37.555367,126.968643,적음
26,36,37.560246,126.968780,B,4766,1,2,18,0.055556,37.560246,126.968780,적음
27,40,37.560055,126.980942,B,4776,1,2,10,0.100000,37.560055,126.980942,적음
28,41,37.561573,126.968491,B,4782,2,1,10,-0.100000,37.561573,126.968491,적음
29,42,37.564590,126.990768,B,4784,1,3,10,0.200000,37.564590,126.990768,적음

#  데이터 불러와서 B 군집만 추출

In [14]:
df = df[df.cluster == 'B']
df = df.sort_values(by='(반납-대여)/거치대수', ascending=False)
df

,key_0,위도_x,경도_x,cluster,대여소번호,대여수,반납수,거치대수,(반납-대여)/거치대수,위도_y,경도_y,group
3,8,37.569183,127.009880,B,346,4,20,12,1.333333,37.569183,127.009880,많음
6,19,37.561390,126.995354,B,390,3,17,12,1.166667,37.561390,126.995354,많음
5,14,37.563866,127.002747,B,380,3,13,10,1.000000,37.563866,127.002747,많음
18,25,37.559891,126.971497,B,441,2,6,15,0.266667,37.559891,126.971497,적음
17,24,37.566345,126.982292,B,433,6,9,12,0.250000,37.566345,126.982292,적음
14,20,37.566559,126.992439,B,398,4,6,10,0.200000,37.566559,126.992439,적음
19,28,37.564159,126.979485,B,468,3,5,10,0.200000,37.564159,126.979485,적음
29,42,37.564590,126.990768,B,4784,1,3,10,0.200000,37.564590,126.990768,적음
27,40,37.560055,126.980942,B,4776,1,2,10,0.100000,37.560055,126.980942,적음
26,36,37.560246,126.968780,B,4766,1,2,18,0.055556,37.560246,126.968780,적음
24,34,37.556770,126.973198,B,485,3,3,10,0.000000,37.556770,126.973198,적음
25,35,37.555367,126.968643,B,826,5,5,22,0.000000,37.555367,126.968643,적음
28,41,37.561573,126.968491,B,4782,2,1,10,-0.100000,37.561573,126.968491,적음
15,21,37.554108,126.965408,B,399,4,1,17,-0.176471,37.554108,126.965408,적음

In [15]:
df = df.reset_index()
df['node_num'] = range(1,15)
df

,index,key_0,위도_x,경도_x,cluster,대여소번호,대여수,반납수,거치대수,(반납-대여)/거치대수,위도_y,경도_y,group,node_num
0,3,8,37.569183,127.009880,B,346,4,20,12,1.333333,37.569183,127.009880,많음,1
1,6,19,37.561390,126.995354,B,390,3,17,12,1.166667,37.561390,126.995354,많음,2
2,5,14,37.563866,127.002747,B,380,3,13,10,1.000000,37.563866,127.002747,많음,3
3,18,25,37.559891,126.971497,B,441,2,6,15,0.266667,37.559891,126.971497,적음,4
4,17,24,37.566345,126.982292,B,433,6,9,12,0.250000,37.566345,126.982292,적음,5
5,14,20,37.566559,126.992439,B,398,4,6,10,0.200000,37.566559,126.992439,적음,6
6,19,28,37.564159,126.979485,B,468,3,5,10,0.200000,37.564159,126.979485,적음,7
7,29,42,37.564590,126.990768,B,4784,1,3,10,0.200000,37.564590,126.990768,적음,8
8,27,40,37.560055,126.980942,B,4776,1,2,10,0.100000,37.560055,126.980942,적음,9
9,26,36,37.560246,126.968780,B,4766,1,2,18,0.055556,37.560246,126.968780,적음,10
10,24,34,37.556770,126.973198,B,485,3,3,10,0.000000,37.556770,126.973198,적음,11
11,25,35,37.555367,126.968643,B,826,5,5,22,0.000000,37.555367,126.968643,적음,12
12,28,41,37.561573,126.968491,B,4782,2,1,10,-0.100000,37.561573,126.968491,적음,13
13,15,21,37.554108,126.965408,B,399,4,1,17,-0.176471,37.554108,126.965408,적음,14

# 대여소간 거리 계산해서 가중치 행렬 만들기

In [16]:
from haversine import haversine

dist = np.zeros((14,14))
for i in range(14):
    for j in range(i+1,14):
        distance = haversine((df.위도_x[i],df.경도_x[i]), (df.위도_x[j],df.경도_x[j]), unit='km')
        dist[i][j] = distance
        dist[j][i] = distance
df_dist = pd.DataFrame(dist)
df_dist

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.000000,1.546055,0.863102,3.537426,2.451906,1.564632,2.736629,1.760183,2.745194,3.756396,3.515554,3.946123,3.744921,4.263326
1,1.546055,0.000000,0.707396,2.109488,1.276325,0.629551,1.432245,0.538515,1.278985,2.345751,2.019395,2.447888,2.367917,2.761058
2,0.863102,0.707396,0.000000,2.789731,1.823812,0.956569,2.050603,1.058843,1.968116,3.020836,2.721463,3.151151,3.030164,3.465510
3,3.537426,2.109488,2.789731,0.000000,1.191867,1.989282,0.849140,1.777249,0.832757,0.242641,0.377998,0.562446,0.324343,0.837580
4,2.451906,1.276325,1.823812,1.191867,0.000000,0.894665,0.346860,0.772149,0.709520,1.370545,1.332713,1.713979,1.327190,2.016562
5,1.564632,0.629551,0.956569,1.989282,0.894665,0.000000,1.172581,0.263810,1.245012,2.200327,2.015232,2.438931,2.182458,2.755714
6,2.736629,1.432245,2.050603,0.849140,0.346860,1.172581,0.000000,0.995718,0.474141,1.039032,0.991034,1.367177,1.010815,1.669971
7,1.760183,0.538515,1.058843,1.777249,0.772149,0.263810,0.995718,0.000000,1.002286,1.997396,1.776170,2.203507,1.992078,2.521065
8,2.745194,1.278985,1.968116,0.832757,0.709520,1.245012,0.474141,1.002286,0.000000,1.072178,0.774169,1.202935,1.110421,1.520594
9,3.756396,2.345751,3.020836,0.242641,1.370545,2.200327,1.039032,1.997396,1.072178,0.000000,0.548583,0.542655,0.149809,0.744423
10,3.515554,2.019395,2.721463,0.377998,1.332713,2.015232,0.991034,1.776170,0.774169,0.548583,0.000000,0.430776,0.676289,0.747775
11,3.946123,2.447888,3.151151,0.562446,1.713979,2.438931,1.367177,2.203507,1.202935,0.542655,0.430776,0.000000,0.690264,0.317667
12,3.744921,2.367917,3.030164,0.324343,1.327190,2.182458,1.010815,1.992078,1.110421,0.149809,0.676289,0.690264,0.000000,0.873445
13,4.263326,2.761058,3.465510,0.837580,2.016562,2.755714,1.669971,2.521065,1.520594,0.744423,0.747775,0.317667,0.873445,0.000000

# tsp

In [17]:
import copy

In [18]:
data = [1,2,3,4,5,6,7,8,9,10,11,12,13,14]
n = len(data)
all_sets = []
g = {}
p = []
node = [1]

In [19]:
def main():
    for x in range(1, n):
        g[x + 1, ()] = dist[x][0]

    get_minimum(1, (2,3,4,5,6,7,8,9,10,11,12,13,14))

    print('\n\nSolution to TSP: {1, ', end='')
    solution = p.pop()
    print(solution[1][0], end=', ')
    node.append(solution[1][0])
    for x in range(n - 2):
        for new_solution in p:
            if tuple(solution[1]) == new_solution[0]:
                solution = new_solution
                print(solution[1][0], end=', ')
                node.append(solution[1][0])
                break
    print('1}')
    return

In [20]:
def get_minimum(k, a):
    if (k, a) in g:
        # Already calculated Set g[%d, (%s)]=%d' % (k, str(a), g[k, a]))
        return g[k, a]

    values = []
    all_min = []
    for j in a:
        set_a = copy.deepcopy(list(a))
        set_a.remove(j)
        all_min.append([j, tuple(set_a)])
        result = get_minimum(j, tuple(set_a))
        values.append(dist[k-1][j-1] + result)

    # get minimun value from set as optimal solution for
    g[k, a] = min(values)
    p.append(((k, a), all_min[values.index(g[k, a])]))

    return g[k, a]

In [21]:
main()

Solution to TSP: {1, 3, 2, 9, 11, 12, 14, 10, 13, 4, 7, 5, 8, 6, 1}

# 총거리 구하기

In [22]:
node.append(1)

dist_total = 0
for i in range(len(node)-1):
    dist_total += df_dist[node[i]-1][node[i+1]-1]
dist_total

9.38725938034833

In [23]:
len(df)

14

In [24]:
node

[1, 3, 2, 9, 11, 12, 14, 10, 13, 4, 7, 5, 8, 6, 1]