In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel('./tsp_(중구, 24, 6-10).xlsx', sheet_name='k=4')
df

  cluster  number                         tsp route  distance
0       A       5                  1, 2, 4, 3, 5, 1  3.714050
1       B       8         1, 2, 8, 7, 4, 6, 5, 3, 1  5.971481
2       C      10  1, 3, 2, 5, 8, 6, 7, 9, 10, 4, 1  4.697495
3       D       7            1, 2, 4, 5, 7, 3, 6, 1  3.672902

In [3]:
#n : cluster 내 대여소 갯수
for i in range(len(df)):
    n=df.iloc[i, 1]
    d=df.iloc[i, 3]
    if n>=10:
        비용1=(d/6.8)*1332.74 + 23013.75*4 + 51450000/(16.8*365*2)
        df.loc[i,'truck type']='2.5t'
        df.loc[i, 'cost']=비용1
    else: 
        비용2=(d/8.5)*1332.74 + 23013.75*4 + 18375000/(16.8*365*2)
        df.loc[i,'truck type']='1.0t'
        df.loc[i, 'cost']=비용2
df

,cluster,number,tsp route,distance,truck type,cost
0,A,5,"1, 2, 4, 3, 5, 1",3.714050,1.0t,94135.624531
1,B,8,"1, 2, 8, 7, 4, 6, 5, 3, 1",5.971481,1.0t,94489.573812
2,C,10,"1, 3, 2, 5, 8, 6, 7, 9, 10, 4, 1",4.697495,2.5t,97170.872990
3,D,7,"1, 2, 4, 5, 7, 3, 6, 1",3.672902,1.0t,94129.172825

In [4]:
#total distance
a=0
for i in range(len(df)):
    a+=df.loc[i, 'distance']
a

18.0559286750867

In [5]:
#total cost
b=0
for i in range(len(df)):
    b+=df.loc[i, 'cost']
b

379925.2441579102